ca.pem
*.backup
.env

# These are used in development and allow me to keep all related files under one 
# searchable project.
repo-template/
deploy/
hals/
ignore/
data/

# Everything in the services folder should get included via `technocore generate_gitmodules`. 
# This allows for different services to be present and visible in VS Code. 
.gitmodules
services/*/*
