ca.pem
*_old
*.backup
.env

docs
dogfish
esphome
esphome-wrapper
grafana
ha_homie
hals
home-assistant
home-assistant-db
homie
influxdb
jupyter
loki
nextcloud-exporter
node-red
nginx
portainer
prometheus
scifi.farm
vault
vernemq
